<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      
      <form class="example-form" [formGroup]="registerForm" #formDirective="ngForm" 
      (ngSubmit)="onSubmit(formDirective)">  
          <div class="col-md-12 col-sm-12 col-xs-12 error errorMsg" *ngIf="isErrorPopup" (click)="hideError()">
              <span class="glyphicon glyphicon-ok"></span> {{responceMsg}}
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 successMsg sucess" *ngIf="isSuccess" (click)="hideError()">
                <span class="glyphicon glyphicon-ok"></span> {{responceMsg}}
              </div>  
        <mat-card-content>
       
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName="firstName">
            <mat-hint align="end">Not more then 15 characters long.</mat-hint>
                 <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
                 <mat-error *ngIf="hasError('firstName', 'maxlength')">You have more than 15 characters</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" formControlName="lastName">
                  <mat-hint align="end">Not more then 15 characters long.</mat-hint>
                 <mat-error *ngIf="hasError('lastName', 'required')">Last Name is required</mat-error>
                 <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more than 15 characters</mat-error>
                </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" name='email' formControlName="email" email>
                 <mat-error *ngIf="hasError('email', 'email')">Invalid Email</mat-error> 
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" >
              <mat-error *ngIf="hasError('confirmPassword', 'ConfirmPassword')">Invalid Email</mat-error> 
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone No"  formControlName="phoneNo">
                
                <mat-error *ngIf="hasError('phoneNo', 'maxlength')">You have more than 10 No.</mat-error>
              </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected" formControlName="role">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block" >Register</button>
  
      </form>
    </mat-card>
  </div>

  